    <aside>
        <h2><i class="fas fa-leaf"></i>Mon Etab</h2>
        <nav>
            <ul>
                <li><i class="fas fa-grip-horizontal"></i><a routerLink="dashboard" routerLinkActive="active" > Tableau de bord</a></li>
                <li><i class="fi fi-rs-users-class"></i><a routerLink="students" routerLinkActive="active" > Élèves</a></li>
                <li><i class="fas fa-chalkboard-teacher"></i><a routerLink="teachers" routerLinkActive="active"> Professeurs</a></li>
                <li><i class="fa-regular fa-user"></i><a routerLink="users" routerLinkActive="active"> Utilisateurs</a></li>
                <li><i class="fas fa-file-alt"></i><a routerLink="reports" routerLinkActive="active" > Rapport</a></li>
            </ul>
        </nav>
        <a routerLink="">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>Déconnexion
        </a>
    </aside>
