<main>
    <h2>Tableau de bord</h2>
    <div class="cards">
        <div class="card">
            <h3>Nombre d'élève</h3>
            <p style="font-size: 50px;">128 100</p>
        </div>
        <div class="card">
            <h3>Nombre de professeur</h3>
            <p style="font-size: 50px;">128 100</p>
        </div>
        <div class="card">
            <h3>Nombre d'utilisateur</h3>
            <p style="font-size: 50px;">128 100</p>
        </div>
        <div class="card">
            <h3>Élève par genre</h3>
            <app-pie-chart></app-pie-chart>
        </div>
    </div>
</main>